body {
    display: flex; 
    justify-content: center;
    margin-top: 70px;
    padding: 0px;

}

.container {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(228, 233, 231);
}

.container:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
}
.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-logo {
    width: 40px;
    height: 40px;
}

h1 {
    color: rgb(20, 89, 238);
}
.login-page {
    color: rgb(9, 9, 11);
    font-size: 20px;
    font-weight: 500;
}

button {
    margin-left: 38%;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    background-color: rgb(20, 89, 238);
    border: 2px solid whitesmoke;
    transition: transform 0.5s ease;
}

button:hover {
    background-color: rgb(106, 64, 234);
    color: black;
}


